div {
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  margin: 8px;
  cursor: pointer;
}

.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
